Repository QEDK/clarity, pull requests merged in 2020-11, with the labels that each got.

#16 ml: Add word associations for important terms
  ml/parse.py
Labels: backend, enhancement

#31 backend: Fix ml module import
  backend/main.py
Labels: backend, bug

#36 backend: machine learning ml connected to backend
  backend/main.py
Labels: backend

#40 general: Add code scanning
  .github/workflows/codeql-analysis.yml
Labels: enhancement, general
